.about h1{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    margin: auto;
    color: rgb(178, 80, 80);;
}

.about h2{
    font-size:45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(178, 80, 80);
    text-align: center;
    text-transform: capitalize;
    
}

.about h3{
    font-size:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(178, 80, 80);
    text-align: center;
    text-transform: capitalize;
}

.about h4{
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 0%;
    
}

.about p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 40px;
    margin: auto;
}


